*{
    font-family: 'Poppins', sans-serif;
    position: relative;
}
body {
    margin: 0;
    padding: 0;
 }
main{
    padding: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    
  }
.card .container{
        padding: 2px 16px;
      
}
.jumbotron{
    font-size: 20px;
    padding: 60px;
    background-color:rgb(0, 136, 255);
    text-align: center;
    color: white;
}
nav li {
    display: inline;
    text-decoration: none;
    margin-right: 20px;
    list-style-type: none;
}

nav {
    background-color: rgb(0, 68, 127);
    padding: 5px;
 }

 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
 }
 .footer{
     text-align: center;
     display: block;
     color: white;
     background-color: rgb(0, 0, 0);
     bottom: 0;
     width: 100%;
    
    }

    .container-box {
        display: flex;

        /* Properti lainnya */
       
        width: 800px;
        height: 250px;
        background-color: #11C5C6;
        border: 2px solid black;
        padding: 20px;
        border-radius: 10px;
        margin: 0 auto;
    }
    .box {
        flex-grow: 1;

        /* properti lainnya */
        margin-top: 15px;
        background-color: #FBDD1C;
        margin: 5px;
        border: 2px solid black;
        border-radius: 10px;
    }

    .first {
        flex-grow: 1;
    }
    .second {
        flex-grow: 2;
    }

    .third {
        flex-grow: 1;
    }

    